@model IEnumerable<BangladeshToday.Models.Newsinfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@section Assets
    {
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/buttons.flash.min.js"></script>
    <script src="~/assets/js/buttons.html5.min.js"></script>
    <script src="~/assets/js/buttons.print.min.js"></script>
    <script src="~/assets/js/buttons.colVis.min.js"></script>
    <script src="~/assets/js/dataTables.select.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
}



<h2 class="text-info text-uppercase">Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary btn-xs">Create New</a>
</p>
<div>
    <table class="table table-responsive table-hover table-striped" id="newsinfotable" style="cursor:pointer;">
        <thead>
            <tr class="text-center">
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Newsserial)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Datetime)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Keyword)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.CaptionPicture)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Editor)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.FeatureNews)
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Newsserial)
                    </td>
                    <td style="width:15%;" class="text-center">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td style="width:10%;" class="text-center">
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td class="my text-center" style="width:30%;">
                        @Html.Raw(item.Description)
                    </td>
                    <td style="width:10%;" class="text-center">
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td style="width:10%;" class="text-center">
                        @Html.DisplayFor(modelItem => item.Datetime)
                    </td>
                    <td style="width:10%;" class="text-center">
                        @Html.DisplayFor(modelItem => item.Keyword)
                    </td>

                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.CaptionPicture)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Editor)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.FeatureNews)
                    </td>
                    <td style="width:15%;" class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Newsserial">
                            <span class="blue">
                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                            </span>
                        </a>&emsp;
                        <a asp-action="Details" asp-route-id="@item.Newsserial">
                            <span class="green">
                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                            </span>
                        </a>&emsp;
                        <a asp-action="Delete" asp-route-id="@item.Newsserial">
                            <span class="red">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            // DataTable Initialization
            $('#newsinfotable').DataTable();


            // Show More & Show Less Started
            var readMoreHtml = $(".my").html();
            var lessText = readMoreHtml.substr(0, 200);
            if (readMoreHtml.length > 200) {
                $(".my").html(lessText).append("<a href='#' class='btn btn-primary btn-xs read-more-link'>Show More</a>");
            }
            else {
                $(".my").html(readMoreHtml);
            }

            $("body").on("click", ".read-more-link", function (event) {
                event.preventDefault();
                $(this).parent(".my").html(readMoreHtml).append("<a href='' class='btn show-less btn-xs btn-primary'>Show Less</a>");
            });
            $("body").on("click", ".show-less-link", function (event) {
                event.preventDefault();
                $(this).parent(".my").html(readMoreHtml.substr(0, 200)).append("<a href='' class='btn btn-xs btn-info show-more'>Show More</a>");
            })
            // Show More & Show Less Ended


            // Show More & Show Less For Paging And DataTable Length Started
            $("body .paginate_button, .dataTables_length, .dataTables_filter").click(function () {
                //alert("aa");

                var readMoreHtml = $(".my").html();
                var lessText = readMoreHtml.substr(0, 200);
                if (readMoreHtml.length > 200) {
                    $(".my").html(lessText).append("<a href='#' class='btn btn-primary btn-xs read-more-link'>Show More</a>");
                }
                else {
                    $(".my").html(readMoreHtml);
                }
            });
            // Show More & Show Less For Paging And DataTable Length Ended

        })
    </script>
}
